<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hexadom.aristocat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharactersActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".ScenariosActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".StatesActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".RoundActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".CharactersMaximusActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersParvatiActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersLunahActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".Charactershexx3rActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".Characters8ballActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersMushashiActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersWildbillActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersGataActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersHannibalActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersValkyrieActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersLaxmeeActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersMassacreActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersMendozaActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersMurtairActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersKozmoActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersTaowuActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersDartActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersBixieActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersPrysmActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersEclypseActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersBossActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersShonaActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersKoorieActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
        <activity
            android:name=".CharactersOberonActivity"
            android:parentActivityName=".CharactersActivity">
        </activity>
    </application>

</manifest>